A 1 2
XXXXX
XUIUX
XICIX
XXIXX
XXXXX
A 1 2
XXXXX
XUIUX
XICIX
XXIXX
XXXXX
B 1 1
XXXXX
XXIXX
IXCXI
XXDXX
XXXXX
B 1 1
XXXXX
XXIXX
IXCXI
XXDXX
XXXXX
C 1 2
XXUXX
XIDXX
XXCXX
XXUXX
XXDXX
C 1 2
XXUXX
XIDXX
XXCXX
XXUXX
XXDXX
D 1 1
XXXXX
XUUUX
XICIX
XUUUX
XXXXX
D 1 1
XXXXX
XUUUX
XICIX
XUUUX
XXXXX
E 3 3
XXXXX
XXIXX
XXCXX
XXUXX
XXXXX
E 3 3
XXXXX
XXIXX
XXCXX
XXUXX
XXXXX
F 1 1
XXXXX
XXXXX
XUCDX
XXXDX
XXXXX
F 1 1
XXXXX
XXXXX
XUCDX
XXXDX
XXXXX
G 2 2
XXXXX
XXXXX
UICIU
XXXXX
XXXXX
G 2 2
XXXXX
XXXXX
UICIU
XXXXX
XXXXX
H 3 3
XXIXX
XXDXX
UICIU
XXDXX
XXIXX
H 3 3
XXIXX
XXDXX
UICIU
XXDXX
XXIXX
I 2 1
UXXXI
XXXXX
XXCXX
XXXXX
IXXXU
I 2 1
UXXXI
XXXXX
XXCXX
XXXXX
IXXXU
J 2 1
IXXXI
XXXXX
XXCXX
XXXXX
DXXXD
J 2 1
IXXXI
XXXXX
XXCXX
XXXXX
DXXXD
OnlyUpgrade 1 1
XXXXX
XXUXX
XXCXX
XXXXX
XXXXX
OnlyDevalue 1 1
XXXXX
XXXXX
XXCXX
XXDXX
XXXXX
OnlyInfluence 1 1
XXXXX
XXXXX
XICIX
XXXXX
XXXXX
